@import "node_modules/spectre.css/src/spectre";

.vdp-datepicker {
  > div {
    height: 100%;
  }
  .calandar-background {
    .day__month_btn, .month__year_btn, .prev, .next, .cell, span {
      background-color: #fff;
    }
  }
  .day__month_btn, .prev, .next, .calandar-background > div {
    background-color: #fff;
  }
  .calandar-input {
    width: 100%;
    height: 100%;
  }
}