<div class="section centered">
    <div class="columns col-gapless my-2">

  <div class='container grid-lg'>
    <div class="columns col-gapless my-2">
      <Datepicker wrapper-class="column col-6 col-md-10 col-sm-12 centered" calendar-class="calandar-background" input-class="calandar-input" placeholder="Select Date" v-model="selectedDate"></Datepicker>
    </div>
    <div class="columns col-gapless my-2">
      <select class="column col-6 col-md-10 col-sm-12 centered" v-model="selected">
        <option disabled value="">Please select one</option>
        <option>All</option>
        <option>90</option>
        <option>60</option>
        <option>21</option>
        <option>Custom</option>
      </select>
    </div>
    <div class="columns col-gapless my-2">
      <input class="column col-6 col-md-10 col-sm-12 centered" v-model="custom" placeholder="Days" v-if="selected=='Custom'">
    </div>
    <div class="columns col-gapless my-2">
      <button v-on:click="calculateDates" class="btn btn-primary column col-6 col-md-10 col-sm-12 centered"> Calculate! </button>
    </div>
  </div>
  </div>
    <div class="container grid-lg my-2" v-for="date in dates">
      <div class="columns">
        <div class="col-6 col-sm-12 col-md-10 centered ">{{ date.readableActualDate }} <br></div>
      </div>
      <div class="text-error columns" v-if="date.updatedForWeekend && date.updatedForHoliday">
        <div class = 'column col-6 col-md-10 col-sm-12 centered '>
          The original date was {{ date.reabableCalculatedDate }}. It falls on a weekend and the holiday {{ date.holidayName }}.
        </div>
      </div>
      <div class="text-error columns " v-if="date.updatedForWeekend && !date.updatedForHoliday">
        <div class = 'column col-6 col-md-10 col-sm-12 centered '>
          The original date was {{ date.reabableCalculatedDate }}. It falls on a weekend.
        </div>
      </div>
      <div class="text-error columns" v-if="!date.updatedForWeekend && date.updatedForHoliday">
        <div class = 'column col-6 col-md-10 col-sm-12 centered '>
          The original date was {{ date.reabableCalculatedDate }}. It falls on the holiday {{ date.holidayName }}.  
        </div>
      </div>
    </div>
</div>